
:root {
  --light-theme-primary-color: #1597e5;
  --light-theme-background-color: #e6e6e6;
  --light-theme-secondary-color: #004377;
  --light-theme-todo-list-background: #fff;

  --light-theme-active-todo-color: #187904;
  --light-theme-active-num-todo-color: #eb602e;
  --light-theme-completed-todo-color: #d60404;
  --light-theme-date-color: #171010;
}

html {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

* {
  font-family: inherit;
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

*::after,
*::before {
  box-sizing: inherit;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.text-align-right {
  text-align: right;
}

ul {
  list-style: none;
}
.todo-item-hr{
  margin-top:1rem; 
}
a {
  text-decoration: none;
  color: var(--light-theme-primary-color);
}

a,
a:active,
a:visited {
  color: var(--light-theme-primary-color);
}

button {
  cursor: pointer;
}

#body-wrapper {
  min-height: 100vh;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  justify-content: space-between;
}

.navbar-line{
  background:var(--light-theme-secondary-color);
  height: 3px;
  width:100%;
}

body.light-theme {
  background-color: var(--light-theme-background-color);
  color: var(--light-theme-primary-color);
}

body {
  background-color: var(--light-theme-background-color);
  color: var(--light-theme-primary-color);
}

header.hero {
  padding: 1rem 2rem;
}

header.hero .hero-container {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body.light-theme header.hero {
  border-bottom: 2px solid var(--light-theme-secondary-color);
}

body.light-theme main.main {
  background-color: var(--light-theme-todo-list-background);
  color: var(--light-theme-primary-color);
}

main.main {
  padding: 1rem;
  margin: auto;
  width: 95%;
  max-width: 600px;
  /* align-self: center; */
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  background-color:var(--light-theme-todo-list-background)

}

.todo-list-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-top: 1rem;
  font-size: 1rem;
}

body.light-theme .todo-list-header {
  font-weight: 500;
}

.todo-list-header .todo-date-active-tasks {
  display: flex;
  flex: 1.5;
  font-weight: 450;
  flex-direction: column;
}
.todo-date{
  color:var(--light-theme-secondary-color);
  font-weight:bold;
}
#todo-form {
  width: 100%;
}

body.light-theme #todo-form > #todo-task {
  border: 1px solid var(--light-theme-date-color);
  font-weight: 450;
}

form.state-new-task > input[type="submit"].btn-add-task {
  display: inline-block;
}

.todo-task {
  width: 100%;
  max-width: 100%;
  padding: 0.5rem;
  height: 2rem;
  margin: 0 0.25rem 0.25rem 0;
}

.btn-add-task {
  padding: 0.5rem;
  font-weight: bold;
  height: 2rem;
  cursor: pointer;
  width: 100%;
  max-width: 100px;
  margin: 0.25rem 0;
  
}
.btn-add-task{
  background-color: var(--light-theme-primary-color);
  color: var(--light-theme-todo-list-background)
}

/* .btn-clear-tasks{
  background-color: var(--light-theme-secondary-color);
  color: var(--light-theme-todo-list-background)
} */

.btn-add-task,
.btn-edit-task {
  border: none;
  margin-right: 0.15rem;
}


ul.todo-list {
  margin: 1rem 0 1rem 0;
}

li.todo-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 0.25rem;
  font-weight: 450;
}

footer.footer {
  padding: 1rem;
  text-align: center;
  font-size: 0.9rem;
  color: #fff;
  background-color: var(--light-theme-secondary-color);
  position:absolute;
  bottom:0;
  width:100%;
}

@media screen and (max-width: 420px) {
  header.hero .hero-container {
    flex-direction: column;
  }

  .todo-list-header .todo-date-active-tasks {
    flex: 2;
  }
}

@media screen and (max-width: 310px) {
  .todo-list-header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  li.todo-list-item {
    align-items: flex-start;
  }

  .todo-list-header > * {
    text-align: center;
  }

  .todo-list-header .todo-date-active-tasks {
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--light-theme-background-color);
    width: 100%;
  }
}

@media screen and (max-width: 250px) {
  #todo-form {
    text-align: center;
  }
}
